.wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: var(--spacer) !important;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 60px;
    }
}