.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr);

    @media screen and (min-width: 568px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.seller {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 15px;
    cursor: pointer;
}