.slide {
    padding: 20px;
    text-align: center;

    &_media {
        height: 220px;

        img {
            height: 100%;
        }

        @media screen and (min-width: 1170px) {
            height: 280px;
        }
    }

    &_main {
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .link {
            transition: color var(--transition);

            &:hover, &:focus {
                color: var(--accent);
            }
        }
    }
}